* {
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#main-content {
    flex: 1;
    overflow: auto;
    margin-bottom: 25px;
}

#dual-button-holder {
    display: flex;
    justify-content: space-between;
}

.half-button {
    flex-basis: 48.5%;
}

.default-hr {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    border: 1px #ced4da solid;
    border-radius: 5px;
}

.btn-primary {
    background-color: #0062cc;
    border-color: #0062cc;
}

#students {
    max-height: 30vh;
    overflow-y: auto;
}

#footer-container {
    bottom: 0;
    width: 100%;
}

#footer {
    background-color: #113da0;
    color: white;
    padding: 20px;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

#banner {
    background-color: #123fa4 !important;
}

#bottom-button-container {
    display: flex;
    justify-content: space-between;
}

#bottom-button-container > * {
    width: 33%;
    border-radius: 5px;
}

#bottom-button-container > :first-child {
    padding-left: 0;
}

#bottom-button-container > :last-child {
    padding-right: 0;
}

.blackbox {
    background-color: black;
    height: 100%;
    width: 100%;
    min-height: 64vh;
    min-width: 1vw;
    opacity: 0.5;
    border-radius: 4px;
}

.sorting {
    border-radius: 2px !important;
}

table.dataTable.no-footer {
    border-radius: 2px !important;
}