<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MUN Manager</title>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/jqueryDataTables.css}">
    <script th:src="@{/js/jqueryDataTables.js}" type="text/javascript"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}" type="text/javascript"></script>

    <!--  I am using moment.js exclusively to sort dates on the datatable  -->
    <script th:src="@{/js/moment.js}" type="text/javascript"></script>

    <script th:src="@{/js/init.js}" type="text/javascript"></script>
</head>
<body>
<div id="main-content">
    <div class="jumbotron jumbotron-fluid bg-primary text-white" id="banner"
         style="background-image: url(/img/blue-banner.webp); background-size: cover; background-position: center; background-repeat: no-repeat; margin-bottom: 0; padding: 3rem 0 3rem 0">
        <div class="container" style="margin-left: 0">
            <div class="row" style="margin-left: 50px">
                <div class="col-2 pointer" onclick="location.reload();">
                    <img alt="Conference Image" class="img-fluid" th:src="@{/img/LOGO2.webp}">
                </div>
                <div class="col-10">
                    <h1 class="display-4" id="conference-title">Conference Title</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="flex" style="display: flex; margin-top: 2rem;">
        <div class="col-3">
            <div class="container-fluid">
                <table aria-label="Table of student information" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Assignment Name</th>
                        <th>Submission Date</th>
                        <th>Turnitin Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="studentAssignment : ${studentAssignmentsList}">
                        <td th:text="${studentAssignment.getAssignment().getAssignmentName()}"></td>
                        <td th:text="${studentAssignment.getDate_submitted()}"></td>
                        <td th:text="${studentAssignment.getTurnitin_score() + '%'}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-9">
            <div class="blackbox"></div>
        </div>
    </div>
</div>
<div id="bottom-button-container" style="padding: 0 15px 15px;">
    <script th:inline="javascript">
        function currentStudentId() {
            return parseInt(window.location.href.substring(window.location.href.lastIndexOf('/') + 1));
        }

        function formUrl(studentId) {
            let currentUrl = window.location.href;
            return currentUrl.replaceAll(currentStudentId(), studentId);
        }

        function page(x) {
            $.ajax({
                type: "GET",
                url: "/api/newStudentURL",
                data: jQuery.param([
                    {name: "studentId", value: currentStudentId()},
                    {name: "requestType", value: x}
                ]),
            }).done(function (data) {
                document.location.replace(formUrl(data));
            })
        }

        function lastPage() {
            page(-1);
        }

        function nextPage() {
            page(1);
        }

        $(document).ready(function () {
            $("#student-select").change(function () {
                let value = $(this).val();
                document.location.replace(formUrl(value))
            });
        });
    </script>
    <button class="btn btn-primary" th:onclick="lastPage()">Previous</button>
    <select class="custom-select" id="student-select" name="student-select"
            th:field="*{students}">
        <option th:each="student : ${students}"
                th:if="${student.getStudentId() == studentId}" th:text="${student.getStudentName()}"
                th:value="${student.getStudentId()}"></option>
        <option th:each="student : ${students}" th:if="${student.getStudentId() != studentId}"
                th:text="${student.getStudentName()}" th:value="${student.getStudentId()}"></option>
    </select>
    <button class="btn btn-primary" th:onclick="nextPage()">Next</button>
</div>
<div id="footer-container">
    <footer>
        <div id="footer">
            <p style="margin: 0">MUN Manager <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span>
            </p>
        </div>
    </footer>
</div>
</body>
</html>