<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MUN Manager</title>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/jqueryDataTables.css}">
    <script th:src="@{/js/jqueryDataTables.js}" type="text/javascript"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/indexScript.js}" type="text/javascript"></script>

    <!--  I am using moment.js exclusively to sort dates on the datatable  -->
    <script th:src="@{/js/moment.js}" type="text/javascript"></script>

    <script th:src="@{/js/globalInit.js}" type="text/javascript"></script>
    <script th:src="@{/js/studentViewInit.js}" type="text/javascript"></script>
    <script th:src="@{/js/studentViewScript.js}" type="text/javascript"></script>
</head>
<body>
<div id="main-content">
    <div class="jumbotron jumbotron-fluid bg-primary text-white" id="banner"
         style="background-image: url(/img/blue-banner-downsized.png); background-size: cover; background-position: center; background-repeat: no-repeat; margin-bottom: 0; padding: 3rem 0 3rem 0">
        <div class="container" style="margin-left: 0">
            <div class="row" style="margin-left: 50px">
                <div class="col-2 pointer" onclick="document.location.replace(window.location.origin)">
                    <img alt="Conference Image" class="img-fluid" th:src="@{/img/LOGO2.webp}">
                </div>
                <div class="col-10">
                    <h1 class="display-4" id="conference-title">Conference Title</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="flex" style="display: flex; margin-top: 2rem;">
        <div class="col-3">
            <div class="container-fluid">
                <table aria-label="Table of student information" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Assignment Name</th>
                        <th>Submission Date</th>
                        <th>Turnitin Score</th>
                        <th>Word Count</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="studentAssignment : ${studentAssignmentsList}">
                        <td th:text="${studentAssignment.getAssignment().getAssignmentName()}"></td>
                        <td th:text="${#dates.format(studentAssignment.getDate_submitted(), 'h:mm a, MMMM yyyy')}"></td>
                        <td th:text="${studentAssignment.getTurnitin_score() + '%'}"></td>
                        <td th:text="${studentAssignment.getWord_count()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-9" th:style="'width=100%'">
            <iframe
                    th:style="'border: 1px solid gray; border-radius: 5px; height: 62.5vh; width:100%'"
                    th:src="${'https://docs.google.com/document/d/e/2PACX-1vT3LfhJcDpTmqfYcnenBfldjIieX9U2mCF1-pUGM7TR1T5jKzmpo7lAqe8A2YCSRibL3Gs_p-vp5xiM/pub?embedded=true'}"></iframe>
        </div>
    </div>
</div>
<div id="bottom-button-container" style="padding: 0 15px 15px;">
    <button class="btn btn-primary" th:onclick="lastPage()">Previous</button>
    <select class="custom-select" id="student-select" name="student-select"
            th:field="*{students}">
        <option th:each="student : ${students}"
                th:if="${student.getStudentId() == studentId}" th:text="${student.getStudentName()}"
                th:value="${student.getStudentId()}"></option>
        <option th:each="student : ${students}" th:if="${student.getStudentId() != studentId}"
                th:text="${student.getStudentName()}" th:value="${student.getStudentId()}"></option>
    </select>
    <button class="btn btn-primary" th:onclick="nextPage()">Next</button>
</div>
<div id="footer-container">
    <footer>
        <div id="footer">
            <p style="margin: 0">MUN Manager <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span>
            </p>
        </div>
    </footer>
</div>
</body>
</html>