<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>MUN Manager</title>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js}"></script>

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}">
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/indexScript.js}" type="text/javascript"></script>

    <script th:src="@{/js/globalInit.js}" type="text/javascript"></script>

    <link rel="stylesheet" th:href="@{/css/uploadCSVStyle.css}">
</head>
<body>
<div id="main-content">
    <div class="jumbotron jumbotron-fluid bg-primary text-white" id="banner"
         style="background-image: url(/img/blue-banner-downsized.png); background-size: cover; background-position: center; background-repeat: no-repeat; margin-bottom: 0; padding: 3rem 0 3rem 0">
        <div class="container" style="margin-left: 0">
            <div class="row" style="margin-left: 50px">
                <div class="col-2 pointer" onclick="document.location.replace(window.location.origin)">
                    <img alt="Conference Image" class="img-fluid" th:src="@{/img/LOGO2.webp}">
                </div>
                <div class="col-10">
                    <h1 class="display-4" id="conference-title" th:text="${'Upload New Students List'}"></h1>
                </div>
            </div>
        </div>
    </div>
    <div id="flex" style="display: flex; justify-content: center; align-items: center; margin-top: 2rem; min-height: 64vh;">
        <div class="flex-item">
            <h1>Upload a Student CSV</h1>
            <form action="/api/uploadStudentCSV" enctype="multipart/form-data" method="post">
                <input id="file" name="file" type="file">
                <input name="submit" type="submit" value="Upload">
            </form>
        </div>
    </div>
</div>
<div id="footer-container">
    <footer>
        <div id="footer">
            <p style="margin: 0">MUN Manager <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span>
            </p>
        </div>
    </footer>
</div>
</body>
</html>